<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/login.css">
    <title>Tech Blog</title>
</head>
<body>
    <header>
        <h1>The Tech Blog</h1>
    </header>

    <nav>
        <a href="index.html">Login to Your Account</a>
    </nav>

    <div class="login-box" id="login-box">
        <div class="login-container">
            <form class="login-form">
                <h2>Login</h2>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
    
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
    
                <button type="submit">Login</button>
    
                <p class="create-account">Don't have an account? <a href="#">Create one</a></p>
            </form>
        </div>
    </div>
    <div class="signup-box" id="signup-box">
        <div class="signup-container">
            <form class="signup-form">
                <h2>Create Account</h2>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
    
                <button type="submit">Create</button>
    
                <p class="login-account">Already have an account? <a href="#">Login</a></p>
            </form>
        </div>
    </div>
</body>
</html>